extends layout.jade
block content
    div(class="col-md-3 center-block remove-float text-center remove-up-space")
        img(src="images/burgers/menu.png", class="animated bounce", alt="burger-icon")
        h1(class="pacific-font edited-font-size animated fadeIn ani-extended") My Veggie Place 
        div(class="animated fadeInDown ani-extended2")
            h3 Come, Eat Healthy and Enjoy
            nav(class="pro-font")
                a(href="/menu", class="anchor-margin-right") Menu
                a(href="contact", class="anchor-margin-right") Contact
                a(href="aboutUs") About Us
            p Vegan: Someone who has the nutty idea that hurting animals is a bad thing.